{% extends 'main logado.html'%}
{% block conteudo %}
    <div id="auth-body">
        <div id="auth-body-half-logon" class="main-half centralize">
            <div class="big-button centralize" onclick="window.location.replace(`{{url_for('sample_recorder')}}`)">
                <img class="big-button-icon" src="https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_add_circle_48px-256.png"/>
                <p class="big-button-title">Gravar nova amostra</p>
            </div>
        </div>
        <div id="auth-body-half-login" class="main-half centralize">
            <div class="big-button centralize">
                <img class="big-button-icon" src="https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_add_circle_48px-256.png"/>
                <p class="big-button-title">Minhas amostras</p>
            </div>
        </div>
    </div>
{% endblock %}