{% extends 'main logado2.html'%}
{% block conteudo %}
    <div id="container-sinais">
        <script src="{{url_for('static', filename='controller/dicionario.js')}}" defer></script>

        {% for sinal_libras in lista_nomes %}
            <div class="sinal" id="{{sinal_libras}}" onclick="showExample(this)">
                <div class="sinal-button centralize">
                    ▶
                </div>
                <div class="sinal-name centralize">{{sinal_libras}}</div>
            </div>
        {% endfor %}
        
        <div id="container_example">
            <div id="container_example_bar_x">
                <div id="container_example_x" onclick="closeModal()">
                    X
                </div>
            </div>
            <img id="sinal_modal"/>
            <div id="example_progress_bar"><div id="bar"></div></div>
        </div>
    </div>
{% endblock %}