{% extends 'main.html'%}
{% block conteudo %}
    <div id="auth-body">
        {{form.csrf_token}} <!-- É DITO QUE AUMENTA A SEGURANÇA -->
        {{form.hidden_tag()}} <!-- ESSE AQUI OCULTA O TEXTO DE CIMA DENTRO DA TELA -->

        <div id="auth-body-half-logon" class="auth-body-half">
            <p id="auth-title-logon" class="auth-title">Primeiro acesso</p>
            <div class="auth-form">
                <div class="input-box">
                    <p class="input-box-text">Qual seu nome?</p>
                    {{form.username.label}}{{form.username(class="input-box-input")}}
                </div>
                <div class="input-box">
                    <p class="input-box-text">Crie uma senha:</p>
                    {{form.username.label}}{{form.password(class="input-box-input")}}
                </div>
                <div class="input-box">
                    <p class="input-box-text">Reescreva essa senha:</p>
                    {{form.username.label}}{{form.password(class="input-box-input")}}
                </div>
                <div id="button-logon" class="button">
                    Cadastrar
                </div>
            </div>
        </div>
        <div id="auth-body-half-login" class="auth-body-half">
            <p id="auth-title-login" class="auth-title">Já acessei antes</p>
            <div class="auth-form">
                <div class="input-box">
                    <p class="input-box-text">Qual seu nome?</p>
                    {{form.username.label}}{{form.username(class="input-box-input")}}
                </div>
                <div class="input-box">
                    <p class="input-box-text">Qual sua senha?</p>
                    {{form.username.label}}{{form.password(class="input-box-input")}}
                </div>
                <div id="button-login" class="button">
                    Entrar
                </div>
            </div>
        </div>
    </div>
{% endblock %}