<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravador da TALIA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}"/>
</head>
<body>
    <header>
        <div id="upper">
            <img src="https://i.ibb.co/p09LyDJ/libras-simbolo-liguagem-de-sinais-1-1.png" id="logo" height="65" width="65">
            <a href="#" class="logo">
                Gravador de amostras
            </a>
            <p></p>
        </div>
        <div id="bottom">
            <p id="welcome">Bem vindo, {{username}}</p>
        </div>
    </header>
    {% block conteudo %}{% endblock %}
</body>
</html>