<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TALIA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}"/>
    <script src="{{url_for('static', filename='controller/main_logado.js')}}" defer></script>
</head>
<body>
    <header>
        <div id="upper">
            <img src="https://i.ibb.co/p09LyDJ/libras-simbolo-liguagem-de-sinais-1-1.png" id="logo" height="65" width="65">
            <a href="#" class="logo">
                TALIA
            </a>
            <div id="menu" onclick="showHideMenu()">
                <div class="menu-line"></div>
                <div class="menu-line"></div>
                <div class="menu-line"></div>
            </div>
            <p id="menu_help"></p>
        </div>
        <div id="bottom">
            <p id="welcome">Bem vindo, {{username}}</p>
            <div id="bottom_bar">
                <a onclick="window.location.replace(`{{url_for('translate_screen')}}`)">
                    Tradutor
                </a>
                <a onclick="window.location.replace(`{{url_for('dicionario')}}`)">
                    Sinais que sei
                </a>
            </div>
        </div>
        <div id="menu-tab">
            <p id="menu-tab-x" class="centralize" onclick="showHideMenu()">X</p>
            <br/>
            <p id="menu-tab-option" onclick="window.location.replace(`{{url_for('translate_screen')}}`)">
                Tradutor
            </p>
            <p id="menu-tab-option" onclick="window.location.replace(`{{url_for('dicionario')}}`)">
                Sinais que sei
            </p>
        </div>
    </header>
    {% block conteudo %}{% endblock %}
</body>
</html>