/** GENÉRICOS */
.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}

/** =========== CABEÇALHO =========== */
#logo{
    margin-left: 20px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header #upper {
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #bottom {
    width: 100vw;
    height: 25;
    padding-left: 20px;

    display: flex;
    justify-content: start;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/** =========== TELA DE LOGIN =========== */
#auth-body{
    width: 100vw;

    display: flex;
    flex-direction: row;
}

.auth-body-half{
    height: calc(100vh - 85px);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-body-half-logon{
    background-color: #ff9600; 
}

#auth-body-half-login{
    background-color: white;
}

.auth-title{
    font-size: 30px;
    font-weight: 700;

    margin-bottom: 20px;
}

#auth-title-logon{
    color:'white'
}

.auth-form{
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box{
    width: 100%;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.input-box-text{
    font-weight: 700;
}

#field_with_error{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-box-input{
    height: 30px;
    width: 100%;

    font-size: 20px;
}

.button{
    height: 50px;
    width: 200px;

    font-size: 20px;
    font-weight: 700;

    border-radius: 15px;
    background-color: transparent;
}

.button:hover{
    cursor: pointer;
}

#button-logon{
    border: solid 5px white;
}

#button-logon:hover{
    background-color: white;
}

#button-login{
    border: solid 5px #ff9600;
}

#button-login:hover{
    background-color: #ff9600;
}

#error_message{
    margin-left: 20px;

    font-size: 20px;
    font-weight: 700;
    background-color: white;
    color:red;
}

/** TELA DOS BOTÕES */
#welcome{
    height: 25px;

    font-weight: 700;
    font-size: 25px;
}

.main-half{
    height: calc(100vh - 180px);
    width: 100%;
}

.big-button{
    width: 50%;
    aspect-ratio: 1 / 1;

    border-radius: 25%;
    border: 5px solid black;
}

.big-button-icon{

}

.big-button-title{

}