/** GENÉRICOS */
.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** =========== CABEÇALHO =========== */
#logo {
    margin-left: 20px;
}

body {
    max-width: 100vw;

    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    overflow-x:hidden;
    overflow-y:hidden;
}

header {
    background-color: #333;
    color: #fff;

    height: min-content;
    width: 100%;
}

header #upper {
    max-width: 100vw;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #menu{
    height: 25px;
    margin-right: 20px;
    cursor: pointer;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}

header #menu .menu-line{
    width: 30px;
    height: 4px;

    background-color: white;
    border-radius: 2px;
}

header #menu_help{
    display: flex;
}

header #menu-tab{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;

    width: 60vw;
    height: 100vh;

    background-color: white;
    border: 2px solid #333;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

header #menu-tab-x{
    width: 60px;
    height: 60px;

    background-color: #222;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
    
    border-radius: 20px;
    margin-left: 20px;
}

header #menu-tab-option{
    margin-left: 20px;

    color: #333;
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}

header #bottom {
    width: 100vw;
    height: min-content;

    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    max-height: 25px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#welcome {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;

    font-weight: 700;
    font-size: 15px;
    text-align: start;
    margin-left: 20px;

    display: flex;
    align-items: center;
}

#bottom_bar {
    width: 100%;
    height: 15px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

#bottom_bar a {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

/** =========== TELA DE LOGIN =========== */
#auth-body {
    width: 100vw;

    display: flex;
    flex-direction: row;
}

.auth-body-half {
    min-height: 100vh;
    height: min-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-body-half-logon {
    background-color: #ff9600;
}

#auth-body-half-login {
    background-color: white;
}

.auth-title {
    font-size: 30px;
    font-weight: 700;

    margin-bottom: 20px;
}

#auth-title-logon {
    color: 'white'
}

.auth-form {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    width: calc(100% - 200px);
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.input-box-text {
    font-weight: 700;
}

#field_with_error {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-box-input {
    height: 30px;
    width: 100%;

    font-size: 20px;
}

.button {
    height: 50px;
    width: 200px;

    font-size: 20px;
    font-weight: 700;

    border-radius: 15px;
    background-color: transparent;
}

.button:hover {
    cursor: pointer;
}

#button-logon {
    border: solid 5px white;
}

#button-logon:hover {
    background-color: white;
}

#button-login {
    border: solid 5px #ff9600;
}

#button-login:hover {
    background-color: #ff9600;
}

#error_message {
    margin-left: 20px;

    font-size: 20px;
    font-weight: 700;
    background-color: white;
    color: red;
}

/** TELA DOS BOTÕES */

.main-half {
    height: calc(100vh - 125px);
    width: 100%;
}

.big-button {
    width: 50%;
    aspect-ratio: 1 / 1;

    border-radius: 25%;
    border: 5px solid black;

    flex-direction: column;
}

.big-button:hover {
    cursor: pointer;
    opacity: 70%;
}

.big-button-icon {
    width: 60%;
    aspect-ratio: 1 / 1;
}

.big-button-title {
    font-size: 140%;
}

/** GRAVADOR DE AMOSTRAS */
#recorder-form {
    height: min-content;
    max-width: calc(100vw - 20px);
    padding-left: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.play-button {
    position: absolute;
    z-index: 10;

    height: 25vw;
    width: 25vw;

    border: 0px none;
    background-color: transparent;

    aspect-ratio: 1/1;
}

.play-button:hover {
    cursor: pointer;
    opacity: 80%;
}

.stop-button {
    opacity: 0%;
}

.input-box-recorder {
    width: calc(50% - 200px);
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

/** TELA DO TRADUTOR */
#gravador-tela{
    min-height: 85vh;

    display: flex;
    flex-direction: row;
}

.video_box {
    /* z-index: 10; */
    min-width: 70vw;
    height: 70vh;

    background-color: black;
}

.video_screen {
    max-height: 70vh;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 4/3;

    background-color: black;
}
#loading{
    min-width: 70vw;
    height: 70vh;

    z-index: 10;
    position: absolute;
}

#canvas_container {
    position: absolute; left: 0px;

    height: 70vh;
    min-width: 70vw;
}

#historico-container{
    max-height: 85vh;
    
    width: 30vw;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#historico-title{
    width: calc(100% - 40px);
    height: 40px;

    border-bottom: black solid 2px;

    margin-top: 0px;
    margin-bottom: 0px;

    font-size: large;
}

#historico-palavras{
    width: 100%;
    max-height:78vh;

    overflow-y:auto;
    overflow-x:hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#historico-lingueta{
    display: none;
}

.historico-phrase:last-child{
    margin-bottom: 80px;
}

.historico-phrase{
    width: calc(100% - 40px);
    padding: 10px; 

    border-radius: 10px;
    background-color: #dfd3b7;
    text-align: start;
    margin: 0px;
    margin-bottom:10px;
}

#botoes-container {
    height: 15vh;
    width: 70vw;

    display: flex;
    align-items: center;

    position: fixed;
    bottom: 0px;

    background-color: white;
}

.botao-baixo {
    height: calc(15vh - 20px);
    aspect-ratio: 1/1;

    border:none;

    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
}

.botao-icone{
    height: calc(15vh - 40px);
}

#botao-esqueleto{
    background-color: white;
    border: 5px #333 solid;
}

#container-traducoes {
    width: 100%;
    height: calc(15vh - 20px);

    border: 1px solid #000;
    border-radius: 10px;
}

#metadados-box{
    height: 20px;
    min-width: 100%; 

    display: flex;
    flex-direction: row;
}

#metadados-sinais{
    height: 10px;
    min-width: calc(50% - 10px);
    text-align: start;
    margin-left:10px;
    margin-top: 0px;
}

#metadados-frames{
    height: 10px;
    min-width: calc(50% - 10px);
    text-align: end;
    margin-right:10px;
    margin-top: 0px;
}

#traducoes{
    font-size: 20px;
    font-weight: bold;

    display: flex;
    height: 100%;
    min-width: 100%;

    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

/** DICIONÁRIO */
#container-sinais{
    max-height: calc(85vh - 20px);
    height: min-content;
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    overflow-y: auto;
}

.sinal{
    height: calc(20vw - 70px);
    aspect-ratio: 1/1;

    background-color: black;

    margin: 10px;
    border-radius: 20px;
}

.sinal-button{
    height: calc(20vw - 100px);

    color:white;
    font-size: 50px;
    cursor: pointer;
}

.sinal-name{
    height: 30px;

    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid black;
}

#sinal_modal{
    display: none;
    position: fixed;
    top: 15vh;

    background-color: black;
    height: 80vh;
    aspect-ratio: 4/3;

    border: 5px #ff9600 solid;
}

@media landscape{
    .video_screen{
        aspect-ratio: 3/4;
    }
}

@media portrait{
    .video_screen{
        aspect-ratio: 4/3;
    }
}

@media(max-width: 1070px){
    .sinal{
        height: calc(20vw);
    }

    .sinal-button{
        height: calc(20vw - 30px);
    }
}

@media(max-width: 850px){
    .sinal{
        height: calc(25vw);
    }

    .sinal-button{
        height: calc(25vw - 30px);
    }
}

@media (max-width: 750px) {
    #bottom_bar {
        display: none;
    }

    header #menu{
        display: flex;
    }

    header #menu_help{
        display: none;
    }

    body{
        overflow-y: scroll;
    }

    header #sem-login{
        height: 10vh;
    }

    #bottom_bar{
        display: none;
    }

    #auth-body {
        flex-direction: column;
    }

    .auth-body-half {
        min-height: min-content;
    }

    .input-box {
        width: calc(100%)
    }

    .button{
        margin-bottom: 20px;
    }

    #gravador-tela{
        min-width: 100vw;
        height: 140vh;
        flex-direction: column;
        background-color: black;
    }

    #canvas_container {
        min-width: 100vw;
    }

    .video_box{
        height: 70vh;
    }

    #metadados-sinais{
        font-size: 11px;
    }

    #metadados-frames{
        font-size: 11px;
    }

    #traducoes{
        font-size: 12px;
    }

    #historico-container{
        height: 70vh;
        min-width: 100vw;
        background-color: white;

        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
    }

    #historico-title{
        top: -120px;
        position: relative;
    }

    #historico-palavras{
        top: -120px;
        position: relative;
    }

    #historico-lingueta{
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 80px;
        width: 80px;
        aspect-ratio: 4/3;

        background-color: white;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;

        z-index: 50;

        top: -100px;
        position: relative;

        color:black;
        font-size: 40px;
        font-weight: bold;
    }

    #botoes-container{
        height: 10vh;
        min-width: 100vw;
        z-index: 50;
    }

    .botao-baixo {
        height: calc(10vh - 20px);
    }

    .botao-icone{
        height: calc(10vh - 40px);
    }

    #container-traducoes {
        height: calc(10vh - 20px);
    }

    .sinal{
        height: calc(33vw - 50px);
    }

    .sinal-button{
        height: calc(33vw - 80px);
    }
}

@media(max-width: 600px){
    .sinal{
        height: calc(40vw);
    }

    .sinal-button{
        height: calc(40vw - 30px);
    }
}

/*! FOI PERCEBIDO QUE A IMAGEM EM SI NÃO RESPEITA A ÁREA BRANCA DO CONTAINER DE VÍDEO, ULTRAPASSANDO ELE CASO O TAMANHO DELE DIMINUIR  */
/*! A altura é pega total */